
section { 
    width:100%; height:100%; display:block;
    
    div { display:block }
    
    .base { position:fixed; z-index:-1; top:0px; left:0px; right:0px; bottom:0px; width:100%; height:100%; }
    
    
    .blackbox { 
        display:none;
        position:fixed; z-index:1; top:0px; left:0px; right:0px; bottom:0px; 
        width:calc(50% + 55px); height:100%; background:rgba(0,0,0,.6);         
    }
    
    
    .content { 
        position:fixed; z-index:2; top:0px; left:0px; right:0px; bottom:0px; 
        width:50%; height:100%; text-align:center; }
    
}
